<h1> List all Recipes</h1>

<% @recipes.each do |recipe| %>
<div class = "row">
  <div class="col-md-2"> 
  <section class="center">User image goes here</section> </div>
  
  <div class="col-md-8 well"> <br>
    <h4>Recipe Name:<%= recipe.name %></h4><br>
    <h4>Recipe Description:<%= truncate(recipe.description, length: 100) %></h4><br>
    <p> <span class="quiet"> <small>Created: <%= time_ago_in_words(recipe.created_at) %> ago </span></p><br> </small>
    recipe.user.username 
    <hr>
  </div>
</div><!-- end row -->




<% end %>
